<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784541745915-eb9gjngbvaomv48kgad2e88rsc8t6edb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784541745915-eb9gjngbvaomv48kgad2e88rsc8t6edb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784541745915-jrbkuqtrif0aak2i0imnied6d6qdrl8d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_53IDw5CoRLLEx679DrWWK768GurTApg</string>
	<key>GCM_SENDER_ID</key>
	<string>784541745915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tremental.app</string>
	<key>PROJECT_ID</key>
	<string>tremental</string>
	<key>STORAGE_BUCKET</key>
	<string>tremental.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784541745915:ios:121feffac0daf806c0665e</string>
</dict>
</plist>